**Question 1 :** Explain the fundamental differences between DDL, DML, and DQL commands in SQL. Provide one example for each type of command.

Ans: DDL commands are used to define, create, modify, or delete database structures.

They work on:

Databases (schemas)

Tables

Views

Indexes

**DDL changes are usually permanent (auto-commit).**

Common DDL Commands

CREATE

ALTER

DROP

TRUNCATE

**Example (DDL)**
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    region VARCHAR(20)
);


**This command creates the structure of a table.**



**DML commands** are used to insert, update, or delete data inside tables.

They work on:

Table records (rows)

DML operations can be rolled back (if transactions are used).

Common DML Commands

INSERT

UPDATE

DELETE

Example (DML)
INSERT INTO customers (customer_id, name, region)
VALUES (101, 'Amit', 'North');


✔ This command adds data to the table.

**When to Use DML?**

Adding new records

Updating existing data

Deleting records

***Question*** 2 : **bold text** What is the purpose of SQL constraints? Name and describe three common types
of constraints, providing a simple scenario where each would be useful.

Ans: SQL constraints are rules applied to table columns to ensure data accuracy, consistency, and integrity.

They prevent invalid data from being inserted into the database.

Why Are Constraints Important?

✔ Maintain data quality
✔ Prevent duplicate or incorrect entries
✔ Enforce business rules
✔ Protect database reliability

Think of constraints like data validation rules in Excel, but enforced at the database level.

**Three Common SQL Constraints (With Scenarios)**
PRIMARY KEY Constraint

**Purpose**

Ensures each record is unique

Cannot be NULL

Identifies each row uniquely

**Example**

CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    region VARCHAR(20)
);


**Scenario (Real-Life Use)**


Customer Table

Every customer must have a unique ID

No two customers can share the same ID

Prevents duplicate customers


**Primary key ensures unique identification of each record in a table.**

NOT NULL Constraint

 Purpose

Ensures a column cannot be empty

**Example**
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    order_date DATE NOT NULL,
    amount DECIMAL(10,2)
);

 **Scenario**

An order must have a date

Missing order dates cause reporting issues

Ensures mandatory data is always provided


NOT NULL ensures that essential fields always contain valid data.

**UNIQUE Constraint**

Purpose

Ensures no duplicate values in a column

Unlike Primary Key, it can allow one NULL (depends on DB)

**Example**
CREATE TABLE users (
    user_id INT PRIMARY KEY,
    email VARCHAR(100) UNIQUE
);

**Scenario**

Two users cannot register with the same email

Used in login systems

Prevents duplicate user accounts

**Question 3 :** Explain the difference between LIMIT and OFFSET clauses in SQL. How
would you use them together to retrieve the third page of results, assuming each page
has 10 records?

Ans: LIMIT restricts the number of rows returned by a query.

**Example**

SELECT * FROM orders
LIMIT 10;


➡ Returns only 10 rows

**Use Case**

Show top 10 records

Pagination (page-wise data display)

Performance optimization

OFFSET skips a specific number of rows before returning results.

**Example**

SELECT * FROM orders
OFFSET 10;


➡ Skips the first 10 rows and returns the rest

**Use Case**

Ignore already displayed records

Move to next page in pagination

To implement pagination, like:

Page 1

Page 2

Page 3 …

**Pagination Logic**

Page size = 10 records

Page number = 3

Records to skip = (page − 1) × page size

(3 − 1) × 10 = 20

* SQL Query for 3rd Page (10 records per page)
SELECT * FROM orders
LIMIT 10 OFFSET 20;

**Question 4 :** What is a Common Table Expression (CTE) in SQL, and what are its main
benefits? Provide a simple SQL example demonstrating its usage.

Ans: A Common Table Expression (CTE) is a temporary named result set that you define within a SQL query using the WITH keyword.

* It exists only during the execution of that query
* It helps break complex queries into readable, reusable parts


WITH cte_name AS (
    SELECT column1, column2
    FROM table_name
    WHERE condition
)
SELECT *
FROM cte_name;

**1. Improves Readability**

Makes complex queries easier to understand

Avoids nested subqueries

**2. Simplifies Complex Logic**

You can divide a large problem into smaller steps

Easier debugging and maintenance

**3. Reusability Within the Query**

The CTE can be referenced multiple times in the same query

**4. Supports Recursive Queries**

Used for hierarchical data (e.g., employees → managers)

Question 4 : What is a Common Table Expression (CTE) in SQL, and what are its main
benefits? Provide a simple SQL example demonstrating its usage

Ans:A Common Table Expression (CTE) is a temporary result set in SQL that is defined using the WITH keyword and can be referenced within a single SQL statement.

It is not stored permanently

It exists only for the duration of the query

It helps make complex queries simpler and more readable

WITH cte_name AS (
    SELECT column1, column2
    FROM table_name
    WHERE condition
)
SELECT *
FROM cte_name;

WITH cte_name AS (
    SELECT column1, column2
    FROM table_name
    WHERE condition
)
SELECT *
FROM cte_name;

**1. Improves Readability**

Breaks complex SQL into logical steps

Easier to understand than nested subqueries

**2.Simplifies Complex Queries**

Reduces deeply nested queries

Makes debugging easier

**3.Reusability within a Query**

The same CTE can be used multiple times in the main query

**4. Supports Recursive Queries**

Useful for hierarchical data (e.g., employee–manager, category trees)

**Question 5 :** Describe the concept of SQL Normalization and its primary goals. Briefly
explain the first three normal forms (1NF, 2NF, 3NF).

Ans: Normalization is the process of organizing data in a database to:

Reduce data redundancy (duplicate data)

Improve data integrity

Ensure efficient data storage and maintenance

It involves dividing large tables into smaller, related tables and defining relationships between them.


1. Eliminate data redundancy
2. Avoid update, insert, and delete anomalies
3. Ensure data consistency and accuracy
4. Improve database maintainability

** First Normal Form (1NF)**

Rule:

Each field contains atomic (indivisible) values

No repeating groups or multi-valued columns

Each record is unique

**Second Normal Form (2NF)**

Rule:

Table must be in 1NF

No partial dependency

Non-key columns must depend on the entire primary key

3. Third Normal Form (3NF)

Rule:

Table must be in 2NF

No transitive dependency

Non-key columns depend only on the primary key

**Question 6 :** Create a database named ECommerceDB and perform the following
tasks:

1. Create the following tables with appropriate data types and constraints:

● Categories

○ CategoryID (INT, PRIMARY KEY)
○ CategoryName (VARCHAR(50), NOT NULL, UNIQUE)

● Products

○ ProductID (INT, PRIMARY KEY)
○ ProductName (VARCHAR(100), NOT NULL, UNIQUE)
○ CategoryID (INT, FOREIGN KEY → Categories)
○ Price (DECIMAL(10,2), NOT NULL)
○ StockQuantity (INT)

● Customers

○ CustomerID (INT, PRIMARY KEY)
○ CustomerName (VARCHAR(100), NOT NULL)
○ Email (VARCHAR(100), UNIQUE)
○ JoinDate (DATE)

● Orders

○ OrderID (INT, PRIMARY KEY)
○ CustomerID (INT, FOREIGN KEY → Customers)
○ OrderDate (DATE, NOT NULL)
○ TotalAmount (DECIMAL(10,2))

2. Insert the following records into each table

● Categories

CategoryID Category Name

1 Electronics
2 Books
3 Home Goods
4 Apparel

● Products

ProductID ProductName CategoryID Price StockQuantity

101 Laptop Pro 1 1200.00 50
102 SQL
Handbook
2 45.50 200
103 Smart Speaker 1 99.99 150
104 Coffee Maker 3 75.00 80
105 Novel : The
Great SQL
2 25.00 120
106 Wireless
Earbuds
1 150.00 100
107 Blender X 3 120.00 60
108 T-Shirt Casual 4 20.00 300
● Customers

CustomerID CustomerName Email Joining Date

1 Alice Wonderland alice@example.com 2023-01-10
2 Bob the Builder bob@example.com 2022-11-25
3 Charlie Chaplin charlie@example.com 2023-03-01
4 Diana Prince diana@example.com 2021-04-26

● Orders

OrderID CustomerID OrderDate TotalAmount

1001 1 2023-04-26 1245.50
1002 2 2023-10-12 99.99
1003 1 2023-07-01 145.00
1004 3 2023-01-14 150.00
1005 2 2023-09-24 120.00
1006 1 2023-06-19 20.00

**Ans:**

Question 7 : Generate a report showing CustomerName, Email, and the
TotalNumberofOrders for each customer. Include customers who have not placed
any orders, in which case their TotalNumberofOrders should be 0. Order the results
by CustomerName.

[

Question 8 : Retrieve Product Information with Category: Write a SQL query to
display the ProductName, Price, StockQuantity, and CategoryName for all
products. Order the results by CategoryName and then ProductName alphabetically.

Question 9 : Write a SQL query that uses a Common Table Expression (CTE) and a
Window Function (specifically ROW_NUMBER() or RANK()) to display the
CategoryName, ProductName, and Price for the top 2 most expensive products in
each CategoryName.

Question 10 : You are hired as a data analyst by Sakila Video Rentals, a global movie
rental company. The management team is looking to improve decision-making by
analyzing existing customer, rental, and inventory data.
Using the Sakila database, answer the following business questions to support key strategic
initiatives.
Tasks & Questions:
1. Identify the top 5 customers based on the total amount they’ve spent. Include customer
name, email, and total amount spent.
2. Which 3 movie categories have the highest rental counts? Display the category name
and number of times movies from that category were rented.
3. Calculate how many films are available at each store and how many of those have
never been rented.
4. Show the total revenue per month for the year 2023 to analyze business seasonality.
5. Identify customers who have rented more than 10 times in the last 6 months.

*Practical question 6 to 10 i have complete but not able to upload more then 1 file so how can i share with your team.